<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://homeassistant.droneando.es" version="1.0.2" viewmodes="maximized">
    <tizen:application id="qNag7xelhv.HomeAssistant" package="qNag7xelhv" required_version="2.3.2"/>
    <author email="gigajosepro@gmail.com">PE Solutions</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="homeassistant.png"/>
    <license>MIT</license>
    <name xml:lang="en-gb">HomeAssistant</name>
    <name>Home Assistant</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
